---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - inference.llmaz.io
  resources:
  - backendruntimes
  - playgrounds
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - inference.llmaz.io
  resources:
  - backendruntimes/finalizers
  - playgrounds/finalizers
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - inference.llmaz.io
  resources:
  - backendruntimes/status
  - playgrounds/status
  - services/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - leaderworkerset.x-k8s.io
  resources:
  - leaderworkersets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - leaderworkerset.x-k8s.io
  resources:
  - leaderworkersets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - llmaz.io
  resources:
  - openmodels
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llmaz.io
  resources:
  - openmodels/finalizers
  verbs:
  - update
- apiGroups:
  - llmaz.io
  resources:
  - openmodels/status
  verbs:
  - get
  - patch
  - update
