apiVersion: inference.llmaz.io/v1alpha1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: service
    app.kubernetes.io/instance: service-sample
    app.kubernetes.io/part-of: llmaz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: llmaz
  name: opt-125m
spec:
  multiModelsClaims:
  - modelNames:
    - "opt-125m"
  workloadTemplate:
    replicas: 1
    leaderWorkerTemplate:
      workerTemplate:
      # ... usually playground is all your need.
